each item in Data.frisbees
  .col-12.row
    if item.img_slug
      img(src=`./assets/imgs/${item.img_slug}`)
    .col-6
      section-heading
        #title(slot='title') #{item.title}
        .text-block(slot='textBlock') #{item.content_text}
      if item.btn
        button
          a(href=`${item.btn.btn_href}`) #{item.btn.btn_text}
      if item.i_row
        include icon-row
    if item.carousel_slug
      m-carousel
    if item.u_lists
      include unordered-list