each item in Data.frisbees
  .col-12.row.p-0
    if item.img_slug
      .m-container.m-center.mb-1.profile-pic
        img(src=`./assets/imgs/${item.img_slug}`)
    .col-12.p-0
      section-heading
        #title(slot='title') #{item.title}
        .text-block(slot='textBlock') #{item.content_text}
      if item.btn
        .row.m-container.m-center
          button.mt-1
            a(href=`${item.btn.btn_href}`) #{item.btn.btn_text}
      if item.i_row
        include icon-row
  if item.carousel_slug
    m-carousel.mt-1
  #ben
  if item.u_lists
    include unordered-list