.col-12.m-container.m-center
  m-footer
    div(slot="tel") #{Data.footer.fTel}
    div(slot="email") #{Data.footer.fEmail}
    div(slot="trademark") #{Data.footer.fTrade}
    a(slot="html_valid") #{Data.footer.html_valid.text}
    a(slot="CSS_valid") #{Data.footer.CSS_valid.text}
    a(slot="disclaimer") #{Data.footer.disclaimer.text}