.col-12
  m-text.title #{Data.t3}
  .col-4
    m-text.title #{Data.t4}
    m-list
      li(slot="1") #{Data.lc1}
      li(slot="2") #{Data.lc2}
      li(slot="3") #{Data.lc3}
  .col-4
    m-text.title #{Data.t5}
    m-list
      li(slot="1") #{Data.lc4}
      li(slot="2") #{Data.lc5}
      li(slot="3") #{Data.lc6}